{% extends "base.html" %} {% block content %}
<div class="card d-flex w-50 mx-auto" style="
    padding: 50px;
    flex-direction: row;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  ">
	<div class="profile-photo" style="margin-right: 50px;">
		{% if profile.photo %}
		<img src="{{ user.profile.profile_photo.url }}" alt="" class="card-img-top"
			style="width: 200px; height: 200px; border-radius: 50%" />
		{%else%}
		<img src="https://st2.depositphotos.com/1104517/11965/v/600/depositphotos_119659092-stock-illustration-male-avatar-profile-picture-vector.jpg"
			class="card-img-top" alt="My profile picture" />
		{% endif %}
	</div>
	<div class="card-body" style="padding: 20px">
		<p>
		<h3>{{ user.username }}</h3>
		</p>
		<h6 class="card-text"><strong>{{ user.email }}</strong></h6>
		<p>
			{% if user.profile.bio %}
			<small>{{ user.profile.bio }}</small>
			{% else %}
			<span class="">Please Write a Bio!</span>
			{% endif %}
		</p>
	</div>
	<div class="row mt-3 mb-3">
		<div class="col-md-12">
			<a href="/new/profile" style="text-decoration: none; ">
				<button class="btn btn-lg mx-3 mt-4 hvr-float-shadow ">Edit Profile</button>
			</a>
			<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
				aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="profileModalLabel">Update Profile</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<span class="text-muted" style="font-size: 10px;">Last modified: {{ user.profile.updated_at
							}}</span>
						<div class="container mt-5" style="color: black;">
							<h1 class="text-center" style="color: black; font-weight: bolder;">PROJECTS</h1>
							<hr style="width: 80px">
							{% for project in posts %}
							{% if project.user == user.profile.user %}
							<div class="row mt-5 hvr-grow ">
								<div class="col-md-3">
									<img src="{{ project.image.url }}" class="img-thumbnail" width="500">
								</div>
								<div class="col-md-9">
									<p>Project Name: {{ project.sitename }}</p>
									<p>Description: {{ project.desc }}</p>
									<p>Technologies: {{ project.technologies }}</p>
									<p>Categories: {{ project.categories }}</p>
									<p class=""><a href="{{ project.link }}">
											<button class="btn hvr-bubble-float-bottom "
												style="background-color: black; color: white;">LINK</button>
										</a></p>
									<p class="text-muted float-right">{{ project.post_date }}</p>
								</div>
							</div>
							<hr>
							{% endif %}
							{% endfor %}

						</div>
						{% endblock %}